In [1]:
%load_ext sql
%config SqlMagic.displaylimit = None

displaylimit: Value None will be treated as 0 (no limit)

In [2]:
%sql sqlite:///library.db

Connecting to 'sqlite:///library.db'

In [3]:
%%sql
INSERT INTO Item (title, authorFirstName, authorLastName, format, isBorrowed, isAdded) VALUES
('The Great Gatsby', 'F. Scott', 'Fitzgerald', 'Book', 0, 1),
('1984', 'George', 'Orwell', 'Book', 0, 1),
('To Kill a Mockingbird', 'Harper', 'Lee', 'Book', 0, 1),
('The Catcher in the Rye', 'J.D.', 'Salinger', 'Book', 0, 1),
('Pride and Prejudice', 'Jane', 'Austen', 'Book', 0, 1),
('Sapiens', 'Yuval', 'Harari', 'Book', 0, 1),
('The Selfish Gene', 'Richard', 'Dawkins', 'Book', 0, 1),
('Thinking, Fast and Slow', 'Daniel', 'Kahneman', 'Book', 0, 1),
('The Gene', 'Siddhartha', 'Mukherjee', 'Book', 0, 1),
('Moby Dick', 'Herman', 'Melville', 'Book', 0, 1),
('Digital Fortress', 'Dan', 'Brown', 'eBook', 0, 1),
('Inferno', 'Dan', 'Brown', 'eBook', 0, 1),
('Matrix Reloaded', 'Lana', 'Wachowski', 'DVD', 0, 1),
('Inception', 'Christopher', 'Nolan', 'Blu ray', 0, 1),
('Synthwave Essentials', 'DJ', 'Retro', 'CD', 0, 1),
('Science Weekly', 'Marie', 'Curie', 'scientific journal', 0, 1),
('Vinyl Classics', 'Ella', 'Fitzgerald', 'record', 0, 1),
('Popular Science', 'Albert', 'Einstein', 'magazine', 0, 1),
('The Matrix', 'Lilly', 'Wachowski', 'DVD', 0, 1),
('Interstellar', 'Jonathan', 'Nolan', 'Blu ray', 0, 1),
('Brave New World', 'Aldous', 'Huxley', 'Book', 0, 1),
('The Hobbit', 'J.R.R.', 'Tolkien', 'Book', 0, 1),
('Guns, Germs, and Steel', 'Jared', 'Diamond', 'Book', 0, 1),
('Cosmos', 'Carl', 'Sagan', 'Book', 0, 1);

Running query in 'sqlite:///library.db'

24 rows affected.

++
||
++
++

In [4]:
%%sql
INSERT INTO Fiction (itemID, cutter) VALUES
(1, 'FIT'),
(3, 'LEE'),
(5, 'AUS'),
(7, 'DAW'),
(9, 'MUK'),
(11, 'BRO'),
(13, 'WAC'),
(19, 'WAC'),
(21, 'HUX'),
(22, 'TOL');

Running query in 'sqlite:///library.db'

10 rows affected.

++
||
++
++

In [5]:
%%sql
INSERT INTO NonFiction (itemID, callNum, cutter) VALUES
(2, round(866.7864, 4), 'ORW'),
(4, round(682.7474, 4), 'SAL'),
(6, round(412.7864, 4), 'HAR'),
(8, round(603.4569, 4), 'KAH'),
(10, round(898.7856, 4), 'MEL'),
(12, round(188.1017, 4), 'BRO'),
(14, round(813.6671, 4), 'NOL'),
(20, round(921.3573, 4), 'NOL'),
(23, round(305.1234, 4), 'DIA'),
(24, round(520.5678, 4), 'SAG');

Running query in 'sqlite:///library.db'

10 rows affected.

++
||
++
++

In [6]:
%%sql
INSERT INTO Employee (firstName, lastName, position, salary) VALUES
('Sarah', 'Langley', 'Director', 95000),
('Mark', 'Stone', 'Supervisor', 72000),
('Nina', 'Bellamy', 'Event Coordinator', 65000),
('Jacob', 'Rivers', 'Event Coordinator', 67000),
('Clara', 'Zhou', 'IT Technician', 70000),
('Emily', 'Knight', 'Librarian', 60000),
('James', 'Turner', 'Librarian', 61000),
('Liam', 'Grant', 'Librarian', 62000),
('Sophia', 'White', 'Librarian', 63000),
('Daniel', 'West', 'Librarian', 64000);

Running query in 'sqlite:///library.db'

10 rows affected.

++
||
++
++

In [7]:
%%sql
INSERT INTO EmployeeEmail (employeeID, email) VALUES
(1, 'slangley@library.ca'),
(2, 'mstone@library.ca'),
(3, 'nbellamy@library.ca'),
(4, 'jrivers@library.ca'),
(5, 'czhou@library.ca'),
(6, 'eknight@library.ca'),
(7, 'jturner@library.ca'),
(8, 'lgrant@library.ca'),
(9, 'swhite@library.ca'),
(10, 'dwest@library.ca');

Running query in 'sqlite:///library.db'

10 rows affected.

++
||
++
++

In [8]:
%%sql
INSERT INTO Volunteer (firstName, lastName) VALUES
('Conant', 'Marques'),
('Marianne', 'Emanulsson'),
('Dwayne', 'Johnson'),
('Camille', 'Espley'),
('Baillie', 'Jaques'),
('Fin', 'Tomaszkiewicz'),
('Clarita', 'Nares'),
('Julie', 'Johann'),
('Barnebas', 'Smallsman'),
('Dillon', 'Mitchely');

Running query in 'sqlite:///library.db'

10 rows affected.

++
||
++
++

In [9]:
%%sql
INSERT INTO Patron (firstName, lastName) VALUES
('Merralee', 'Segot'),
('Holli', 'Byk'),
('Stevy', 'Ace'),
('Garret', 'Sans'),
('Joyous', 'Alfuso'),
('Spenser', 'Oty'),
('Curtis', 'Fass'),
('Bab', 'Perse'),
('Maxwell', 'Guisby'),
('John', 'Smith');

Running query in 'sqlite:///library.db'

10 rows affected.

++
||
++
++

In [10]:
%%sql
INSERT INTO Event (eventName, hostID, type, advisedFor, roomNumber, date, time) VALUES
('Adult Book Club Meeting', 3, 'Book Club', 'Adults', 101, '2025-04-10', '14:00:00'),
('Meet the Author: George Orwell', 4, 'Author Event', 'Everyone', 102, '2025-04-11', '14:00:00'),
('Spring Art Show', 3, 'Art Show', 'Everyone', 120, '2025-04-12', '14:00:00'),
('Movie Night for Children', 4, 'Movie', 'Children', 127, '2025-04-13', '19:00:00'),
('Beyblade Competition', 3, 'Other', 'Children', 131, '2025-04-14', '16:00:00'),
('Adult Book Club Meeting', 4, 'Book Club', 'Adults', 135, '2025-04-17', '10:00:00'),
('Meet the Author: J.R.R Tolkien', 4, 'Author Event', 'Everyone', 101, '2025-04-16', '10:00:00'),
('NHL Playoffs Watch Party', 3, 'Other', 'Everyone', 102, '2025-04-17', '19:00:00'),
('Movie Night for Families', 3, 'Movie', 'Everyone', 120, '2025-04-18', '20:00:00'),
('Yell at Clouds', 4, 'Other', 'Seniors', 127, '2025-04-19', '12:00:00');

Running query in 'sqlite:///library.db'

10 rows affected.

++
||
++
++

In [11]:
%%sql
INSERT INTO Loan (itemID, dueDate, isReturned) VALUES
(1, '2025-03-10', 1),
(2, '2025-03-10', 1),
(3, '2025-03-10', 1),
(4, '2025-03-10', 1),
(5, '2025-03-10', 1),
(6, '2025-03-10', 1),
(7, '2025-03-10', 1),
(8, '2025-03-10', 1),
(9, '2025-03-10', 1),
(10, '2025-03-10', 1),
(11, '2025-04-20', 0),
(12, '2025-04-20', 0),
(13, '2025-04-20', 0),
(14, '2025-04-20', 0),
(15, '2025-04-20', 0),
(16, '2025-03-01', 0),
(17, '2025-03-01', 0),
(18, '2025-03-01', 0),
(19, '2025-03-01', 0),
(20, '2025-03-01', 0),
(1, '2025-03-15', 1),
(2, '2025-03-15', 1),
(3, '2025-03-15', 1),
(4, '2025-03-15', 1),
(5, '2025-03-15', 1);

Running query in 'sqlite:///library.db'

25 rows affected.

++
||
++
++

In [12]:
%%sql
INSERT INTO Fine (loanID, fineType, amount, isPaid) VALUES
(16, 'Overdue', 9, 0),
(17, 'Overdue', 18, 0),
(18, 'Overdue', 14, 1),
(19, 'Overdue', 10, 0),
(20, 'Overdue', 14, 0),
(21, 'Damaged', 17, 0),
(22, 'Damaged', 16, 0),
(23, 'Damaged', 11, 0),
(24, 'Damaged', 10, 1),
(25, 'Damaged', 20, 1);

Running query in 'sqlite:///library.db'

10 rows affected.

++
||
++
++

In [13]:
%%sql
INSERT INTO Attending (eventID, patronID) VALUES
(1, 1),
(2, 2),
(3, 3),
(4, 4),
(5, 5),
(6, 6),
(7, 7),
(8, 8),
(9, 9),
(10, 10);

Running query in 'sqlite:///library.db'

10 rows affected.

++
||
++
++

In [14]:
%%sql
INSERT INTO Event_Volunteer (eventID, volunteerID) VALUES
(1, 1),
(2, 2),
(3, 3),
(4, 4),
(5, 5),
(6, 6),
(7, 7),
(8, 8),
(9, 9),
(10, 10);

Running query in 'sqlite:///library.db'

10 rows affected.

++
||
++
++

In [15]:
%%sql
CREATE TRIGGER prevent_employee_deletion
BEFORE DELETE ON Employee
FOR EACH ROW
WHEN EXISTS (
    SELECT 1 FROM Event WHERE hostID = OLD.employeeID
)
BEGIN
    SELECT RAISE(ABORT, 'Cannot delete an employee who is hosting an event');
END;

Running query in 'sqlite:///library.db'

++
||
++
++

In [17]:
%%sql
INSERT INTO Volunteer (firstName, lastName) VALUES
('Spenser', 'Oty'),
('Curtis', 'Fass'),
('Bab', 'Perse'),
('Maxwell', 'Guisby'),
('John', 'Smith');

Running query in 'sqlite:///library.db'

RuntimeError: If using snippets, you may pass the --with argument explicitly.
For more details please refer: https://jupysql.ploomber.io/en/latest/compose.html#with-argument


Original error message from DB driver:
(sqlite3.OperationalError) near "schema": syntax error
[SQL: schema]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

If you need help solving this issue, send us a message: https://ploomber.io/community